---
import Section from "./Section.astro"
---

<Section
    title="Patas para comedor"
    subtitle="Ricardo Hernández Tornero"
    color="white"
    id="content-one"
>
<div slot="footer">
    <a 
    class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-xm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
    href="#"
    >
        Contáctame
    </a>
</div>

<img 
    slot="background"
    class="h-full w-full object-cover object-center bg-image"
    src="content-one.webp" 
    alt="Torneado en madera"
/>

</Section> 